@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lato:ital,wght@0,400;0,900;1,700&display=swap');

@layer utilities {
  .alertLogin {
    height: auto;
  }

  .alertLogin .swal2-icon {
     margin-top: 1rem;
  }

  .alertLogin .swal2-title {
    align-self: baseline;
  }
  .preview-data { 
    display: flex;
    flex-direction: column;
    align-items: baseline;
    width: 69%;
    margin: auto
  }
  .preview-data-li {
    display: flex;
    gap: 2px;
  }
  .preview-data-key {
    font-weight: bold;
    width: 60px;
    text-align: start;
  }
  .preview-data-value {
    width: 200px;
    text-align: start
  }
  .preview-data-confirmBtn {
    order: 2
  }
}